.header {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.header-right {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    color: white;
    border: 1px solid green;
    padding: 10px;
}
.header a:hover {
    color: white;
}
.header img {
    border-radius: 50%;
}

.header a {
    margin-right: 20px;
    padding: 10px 0 10px 0;
    color: black;
}